NET "clk" LOC = "B8";
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;

NET "HSYNC"    LOC = "J14"  | DRIVE = 2  | PULLUP ;
NET "VSYNC"    LOC = "K13"  | DRIVE = 2  | PULLUP ; 

NET "Red<2>"   LOC = "F13"  | DRIVE = 2  | PULLUP ;
NET "Red<1>"   LOC = "D13"  | DRIVE = 2  | PULLUP ;
NET "Red<0>"   LOC = "C14"  | DRIVE = 2  | PULLUP ;

NET "Green<2>" LOC = "G14"  | DRIVE = 2  | PULLUP ;
NET "Green<1>" LOC = "G13"  | DRIVE = 2  | PULLUP ;
NET "Green<0>" LOC = "F14"  | DRIVE = 2  | PULLUP ;

NET "Blue<2>"  LOC = "J13"  | DRIVE = 2  | PULLUP ;
NET "Blue<1>"  LOC = "H13"  | DRIVE = 2  | PULLUP ;


# Pin assignment for LEDs
NET "Led<7>" LOC = "G1" ; # Bank = 3, Signal name = LD7
NET "Led<6>" LOC = "P4" ; # Bank = 2, Signal name = LD6
NET "Led<5>" LOC = "N4" ;  # Bank = 2, Signal name = LD5
NET "Led<4>" LOC = "N5" ;  # Bank = 2, Signal name = LD4
NET "Led<3>" LOC = "P6" ; # Bank = 2, Signal name = LD3
NET "Led<2>" LOC = "P7" ; # Bank = 3, Signal name = LD2
NET "Led<1>" LOC = "M11" ; # Bank = 2, Signal name = LD1
NET "Led<0>" LOC = "M5" ;  # Bank = 2, Signal name = LD0



NET "reset" LOC = "P11";
