//! **************************************************************************
// Written by: Map P.58f on Mon Jul 15 15:17:12 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Blue<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "Blue<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "F14" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "reset" LOCATE = SITE "P11" LEVEL 1;
COMP "hsync" LOCATE = SITE "J14" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "Led<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "C14" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "D13" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "vsync" LOCATE = SITE "K13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

